<<<<<<< HEAD
/* Identificador CSS.  teste do git TESTE TESTE TESTE TESTE TESTE TESTE*/
=======
/* Identificador CSS.  teste do git - TESTE DO fetch*/
>>>>>>> f37c53472ad598576020d41a546c62d1619d89e7
#titulo {
    color:orangered;
    font-size: 4rem;
    font-family: Verdana; 
}
