html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
}
table {
    margin: auto;
}
thead {
    color: white;
    background-color: rgb(73, 73, 216);

}
table, th {
    border-collapse: collapse;
}
table, td {
    border: 1px solid rgb(145, 145, 212);
}
.disc {
    vertical-align: top;
    color: blue;
    padding: 0.5rem, 1rem;
}
td, th {
    padding: 0.5rem 3rem;
    text-align: left;
}
.child:nth-child(even) {
    background-color: #8b9dc3;
    color: black;
}
.child:nth-child(odd) {
    background-color: #dfe3ee;
    color: black;
}
.child:hover {
    background-color: orangered;
    color:white;
}
.disc:hover {
    background-color: orangered;
    color:white;
}
.orange {
    background-color: orangered;
    color: white;
}
p {
    color: rgb(24, 24, 105);
    background: rgb(184, 184, 230);
    border: 2px solid rgb(24, 24, 105);
    text-align: center;
}