.root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    position: absolute;
}
form {
    border: 5px solid black;
    padding: 1.5rem;
    background-color: rgb(207, 207, 207);
    position: absolute;
}
input {
    margin: .4rem;
}
.entrada {
    width: 12rem;
    display: inline-block;
    margin-left: 6rem;
}
#botao {
    margin-left: 0;
}
#sexo {
    margin-left: 8.7rem;
}
#confirmarSenha {
    margin-left: 2rem;
}