.root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    position: absolute;
}
form {
    border: 5px solid black;
    padding: 1.5rem;
    background-color: rgb(207, 207, 207);
    position: absolute;
}
input {
    margin-left: 3rem;
}
