.root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
header {
    text-align: center;
    color: green;
    padding: 2rem;
    font-size: 3rem;
}
img {
    float: right;
    height: 20rem;
    padding-left: 2rem;
}